.new-post-container {
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.category-button {
    border-radius: 12px;
    transition: border-radius 0.3s ease;
}

.category-button:hover {
    border-radius: 20px;
}

.selected-category {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.selected-category:hover {
    background-color: var(--primary-color-hover);
    /* color: white; */
}

h3, h4 {
    color: var(--secondary-text-color);
    margin-bottom: 10px;
}

input, textarea {
    box-sizing: border-box;
    width: 100%;
    margin: 0px 0;
    padding: 10px 5px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
}

textarea {
    height: 120px;
}

input::file-selector-button {
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
    /* font-weight: bold; */
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input::file-selector-button:hover {
    background-color: var(--secondary-color-hover);
}

.post-button {
    margin-top: 20px;
    width: 100%;
    height: 44px;
}