.sidebar {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.sidebar a {
    color: var(--secondary-text-color);
    text-decoration: none;
}
.sidebar a:hover {
    color: var(--secondary-text-color-hover);
}

.sidebar ul {
    list-style-type: none;
    /* margin: 0; */
    padding: 0;
}

.sidebar ul li:not(:first-of-type) {
    margin-top: 0.5rem;
}

.Categories {
    padding: 10px;
    margin: 8px 18px;
}

.CateItem {
    padding: 10px;
    margin: 8px 18px;
    border-radius: 7px;
    /* border: solid black; */
}

.CateItem:hover {
    background-color: #00000021;
}

.AllDiscussions {
    padding: 10px;
    margin: 8px 18px;
}