{{ define "notifications" }}
{{ $notifications := .Notifications }}
{{ $user := .User }}

{{ range $index, $notification := $notifications }}
<article class="notification" data-notification="{{ $notification.Id }}">
    <header>
        <h2>{{ $notification.Title }}</h2>
        <p>Got it on
            <time datetime="{{ $notification.CreatedAt }}">{{ $notification.CreatedAt }}</time>
        </p>
    </header>
    <div>
        <strong>Notification: </strong>
        <p>{{ $notification.Body }}</p>
    </div>
    <footer>
        <a href="{{ $notification.Link }}">View Notification</a>
    </footer>
</article>
{{ if ne $index (sub (len $notifications) 1) }}
<hr>
{{ end }}

{{ end }}
{{ end }}
