{{ define "posts" }}
{{ $posts := .Posts }}
{{ $user := .User }}

{{ range $index, $post := $posts }}
<article class="post" data-post="{{ $post.Id }}">
    <header>
        <h2>{{ $post.Title }}</h2>
        <p>Posted by <a class="author" href="/user/{{ $post.Author.Username }}"> {{ $post.Author.Username }}</a> on
            <time datetime="{{ $post.CreatedAt }}">{{ $post.CreatedAt }}</time>
        </p>
    </header>
    <div>
        <strong>Categories: </strong>
        {{ range $catIndex, $category := $post.Categories }}
        <span>{{ $category.Name -}} {{ if ne $catIndex (sub (len $post.Categories) 1) }}, {{ end }}</span>
        {{ end }} <!-- category range end -->
    </div>
    <div>
        <strong>Reactions: </strong>
        {{ range $reaction := $post.Reactions }}
        {{ if $user }}
        <button class="reaction-button{{ if $reaction.DidReact }}-reacted{{ end }}" onclick="handleReaction(this)"
            data-type="{{ $reaction.Type}}">{{ $reaction.Reaction }} {{ $reaction.Count }}</button>
        {{ else }}
        <button class="reaction-button-disabled" title="Login to react">{{ $reaction.Reaction }} {{
            $reaction.Count}}</button>
        {{ end }} <!-- if user end -->
        {{ end }} <!-- reaction range end -->
    </div>
    <footer>
        <a href="/post/{{ $post.Id }}">View Post</a>

        <!-- check if user not nil -->
        {{ if $user }}
        <!-- if poster is current user, add delete -->
        {{ if eq $user.Username $post.Author.Username }}
        <a href="/post/{{ $post.Id }}/delete">Delete post</a>
        <a href="/post/{{ $post.Id }}/edit">Edit Post</a>
        {{ end }} <!-- if user is poster end -->
        {{ end }} <!-- if user not nil end -->

    </footer>
</article>
{{ if ne $index (sub (len $posts) 1) }}
<hr>
{{ end }} <!-- post break end -->

{{ end }} <!-- Range End -->
{{ end }} <!-- Template End -->



{{ define "postsContainer" }}
{{ $all := .}}
{{ $posts := .Posts }}
{{ $user := .User }}

<section class="posts-container">
    <div class="posts-actions">
        <!-- use the first SortOption -->
        <button class="secondary-button" onclick="showDropdown(this)">{{ index .SortOptions 0 }} ↓</button>
        <ul class="dropdown">
            <li>
                <button class="dropdown-item">Sorry disabled</button>
            </li>
            <!-- {{ range $index, $sortItem := .SortOptions }}
            <li>
                <button class="dropdown-item" data-type="{{ $sortItem }}" onclick="dropdownSort(this)">
                    {{ $sortItem }} {{ if eq $index 0 }}✓{{ end }}
                </button>
            </li>
            {{ end }} -->
        </ul>
        <!-- <button class="secondary-button">↻</button> -->
    </div>

    {{ if eq (len .Posts) 0 }}
    <p>No posts found</p>
    {{ else }}
    {{ template "posts" $all }}
    {{ end }}
</section>

{{ end }}