{{ define "sidebar" }}
<nav class="sidebar">
    <ul>
        <li>
            {{ if .User }}
            <button class="primary-button" onclick="window.location.href='/post/add'">Start a Discussion</button>
            {{ else }}
            <button class="primary-button disabled" title="Register or Login first">Start a Discussion</button>
            {{ end }}
        </li>
        <li class="AllDiscussions"><a href="/">All Discussions</a></li>
    </ul>
    {{ if .Categories }}
    <ul class="Categories">
        {{ range .Categories }}
        <li class="CateItem"><a href="/category/{{ .Name }}">{{ .Name }}</a></li>
        {{ end }}
    </ul>
    {{ end }}
</nav>
{{ end }}