<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The SandBox</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/discussion.css">
</head>

<body>
    {{ template "navbar" . }}
    <main>
        {{ if ne .Post.ImageURL "/uploads/-1" }}
        <div class="discussion-banner">
            <img src="{{ .Post.ImageURL }}" alt="">
        </div>
        {{ end }} <!-- Image if end -->
        <section class="discussion-container">
            <div class="discussion-content">
                {{ template "discussionPost" . }}
                <hr>
                {{ template "discussionPostRange" .}}
            </div>
            <div class="discussion-actions">
                {{ if .User }}
                <button onclick="window.location.href='/post/{{ .Post.Id}}/comment'" class="primary-button">Reply</button>
                {{ else }}
                <button class="primary-button disabled" title="Register or Login first">Reply</button>
                {{ end }} <!-- Reply button if user end -->
            </div>
        </section>
    </main>

    {{ template "footer" . }}
</body>
<script src="/static/js/shared.js"></script>
<script src="/static/js/timeFormatter.js"></script>
<script src="/static/js/discussion.js"></script>

</html>